<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitlogger.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitLogger">
        
        <!-- Dashboard Activity - Main Entry Point -->
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Activity Screen -->
        <activity
            android:name=".activities.AddActivityActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:exported="false" />

        <!-- Settings Screen -->
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:exported="false" />
    </application>

</manifest>
